<div class="row" ng-show="currentRow === 0">
	<div class="col-lg-offset-2 col-xs-12 col-lg-8">
		<h1>Congratulations! <small>You solved it in <span ng-bind="numberOfAttempts"></span> attempts!</small> <a ui-sref="game" ui-sref-opts="{reload:true}" class="btn btn-lg btn-success">Try again!</a></h1>
	</div>
</div>
<div class="row" ng-show="currentRow === 13">
	<div class="col-lg-offset-2 col-xs-12 col-lg-8">
		<h1>Sorry! You were unable to solve the code. <a ui-sref="game" ui-sref-opts="{reload:true}" class="btn btn-lg btn-success">Try again!</a></h1>
	</div>
</div>
<div class="row">
	<div id="game-board" class="col-lg-offset-2 col-xs-12 col-lg-8">
		<div class="row" ng-repeat="row in rows">
			<div class="col-xs-10 guess-row">
				<div ng-attr-data-color="{{peg.color}}" ng-repeat="peg in row.guesses" class="game-peg" ng-click="toggleColor(peg, row)">
				</div>
			</div>
			<div class="col-xs-2 feedback">
				<div class="peg-container">
					<button class="btn btn-lg btn-success eval" ng-click="evaluate()" ng-show="row.id === currentRow">Evaluate</button>
					<span class="glyphicon glyphicon-heart feedback" ng-class="{ 'exact': match.type === 'exact' }" ng-repeat="match in row.feedback"></span>
				</div>
			</div>

		</div>
	</div>
</div>
