#game-board {
	height: 500px;
	background-color: beige;
	border-radius: 5px;
}

.guess-row {
	height: 50px;
}

.game-peg {
	border: 5px solid black;
	border-radius: 30px;
	height: 50px;
	width: 50px;
	margin: 0 10px;
	display: inline-block;
}

.feedback {
	position: relative;
	height: 50px;
}

.peg-container {
	position: absolute;
	bottom: 0px;
}

.feedback-peg {
	font-size: 20px;
}

